/* Botões */
.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px; /* Reduzi o espaçamento */
}
.action-buttons button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: #007BFF;
    color: #fff;
    transition: background 0.3s ease-in-out;
}
.action-buttons button:hover {
    /*background-color: #0056b3;*/
    filter: brightness(90%);
}
.action-buttons .save-btn {
    background-color: #dc3545;
}
.action-buttons .save-btn.ok {
    background-color: #28a745;
}