/* Gráfico */
.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}
canvas {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Agora não estica mais */
    height: 80px; /* Reduzi a altura */
}
.chart-labels {
    font-size: 0.8rem;
    text-align: center;
    color: #666;
    margin-top: 2px;
}